# Template for Action

'.source.c, .source.cpp':
  'MOOSE action':
    'prefix': 'action-h'
    'body': """
    #pragma once

    #include "Action.h"

    class ${1};

    template <>
    InputParameters
    validParams<${1}>();

    /**
     *
     */
    class ${1} : public Action
    {
    public:
      ${1}(const InputParameters& parameters);

      virtual void act() override;
    };
    """

  'MOOSE action implementation':
    'prefix': 'action-c'
    'body': """
    #include "${1}.h"

    registerMooseAction("${2:AppName}App", ${1}, "${3}");

    template <>
    InputParameters
    validParams<${1}>()
    {
      InputParameters params = validParams<Action>();
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Action(parameters)
    {
    }

    void
    ${1}::act()
    {
    }
    """
