# Template for Kernel

'.source.c, .source.cpp':
  'MOOSE AD kernel header':
    'prefix': 'adkernel-h'
    'body': """
    #pragma once

    #include "ADKernel.h"

    /**
     *
     */
    template <ComputeStage compute_stage>
    class ${1} : public ADKernel<compute_stage>
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual ADResidual computeQpResidual() override;

      usingKernelMembers;
    };
    """

  'MOOSE AD kernel implementation':
    'prefix': 'adkernel-c'
    'body': """
    #include "${1}.h"

    registerADMooseObject("${2:AppName}App", ${1});

    template <ComputeStage compute_stage>
    InputParameters
    ${1}<compute_stage>::validParams()
    {
      auto params = ADKernel<compute_stage>::validParams();
      params.addClassDescription("");
      return params;
    }

    template <ComputeStage compute_stage>
    ${1}<compute_stage>::${1}(const InputParameters & parameters)
      : ADKernel<compute_stage>(parameters)
    {
    }

    template <ComputeStage compute_stage>
    ADResidual
    ${1}<compute_stage>::computeQpResidual()
    {
    }

    adBaseClass(${1});
    """
