# Template for Kernel

'.source.c, .source.cpp':
  'MOOSE AD kernel header':
    'prefix': 'adkernel-h'
    'body': """
    #pragma once

    #include "ADKernel.h"

    template <ComputeStage>
    class ${1};

    declareADValidParams(${1});

    /**
     *
     */
    template <ComputeStage compute_stage>
    class ${1} : public ADKernel<compute_stage>
    {
    public:
      ${1}(const InputParameters & parameters);

    protected:
      virtual ADResidual computeQpResidual() override;

      usingKernelMembers;
    };
    """

  'MOOSE AD kernel implementation':
    'prefix': 'adkernel-c'
    'body': """
    #include "${1}.h"

    registerADMooseObject("${2:AppName}App", ${1});

    defineADValidParams(
        ${1},
        ADKernel,
        params.addClassDescription(""););

    template <ComputeStage compute_stage>
    ${1}<compute_stage>::${1}(const InputParameters & parameters)
      : ADKernel<compute_stage>(parameters)
    {
    }

    template <ComputeStage compute_stage>
    ADResidual
    ${1}<compute_stage>::computeQpResidual()
    {
    }

    adBaseClass(${1});
    """
