# Template for BoundaryConditions

'.source.c, .source.cpp':
  'MOOSE nodal boundary condition header':
    'prefix': 'nodalbc-h'
    'body': """
    #pragma once

    #include "NodalBC.h"

    /**
     *
     */
    class ${1} : public NodalBC
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual() override;
    };
    """

  'MOOSE integrated boundary condition header':
    'prefix': 'integratedbc-h'
    'body': """
    #pragma once

    #include "IntegratedBC.h"

    class ${1};

    InputParameters
    ${1}::validParams();

    /**
     *
     */
    class ${1} : public IntegratedBC
    {
    public:
      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual();
      virtual Real computeQpJacobian();
    };
    """

  'MOOSE nodal boundary condition implementation':
    'prefix': 'nodalbc-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = NodalBC::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : NodalBC(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }
    """

  'MOOSE integrated boundary condition implementation':
    'prefix': 'integratedbc-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = IntegratedBC::validParams();
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : IntegratedBC(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
      return 0.0;
    }
    """
