# Template for Constraint

'.source.c, .source.cpp':
  'MOOSE constraint header':
    'prefix': 'constraint-h'
    'body': """
    """

  'MOOSE constraint implementation':
    'prefix': 'constraint-c'
    'body': """
    """
