# Template for Constraint

'.source.c':
  'MOOSE constraint':
    'prefix': 'constraint-h'
    'body': """
    """

'.source.cpp':
  'MOOSE constraint':
    'prefix': 'constraint-c'
    'body': """
    """
