# Template for Control

'.source.c, .source.cpp':
  'MOOSE control header':
    'prefix': 'control-h'
    'body': """
    #ifndef ${1/(.)/\\U$1/}_H
    #define ${1/(.)/\\U$1/}_H

    #include "Control.h"

    class ${1};

    template <>
    InputParameters
    validParams<${1}>();

    /**
     *
     */
    class ${1} : public Control
    {
    public:
      ${1}(const InputParameters & parameters);

      virtual void execute() override;
    };

    #endif // ${1/(.)/\\U$1/}_H
    """

  'MOOSE constrol implementation':
    'prefix': 'control-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2}", ${1});

    template <>
    InputParameters
    validParams<${1}>()
    {
      InputParameters params = validParams<Control>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Control(parameters)
    {
    }

    void
    ${1}::execute()
    {
    }
    """
