# Template for Control

'.source.c, .source.cpp':
  'MOOSE control header':
    'prefix': 'control-h'
    'body': """
    #ifndef ${1}_H
    #define ${1}_H

    #include "Control.h"

    class ${2};

    template<>
    InputParameters validParams<${2}>();

    /**
     *
     */
    class ${2} : public Control
    {
    public:
      ${2}(const InputParameters & parameters);

      virtual void execute() override;
    };

    #endif // ${1}_H
    """

  'MOOSE constrol implementation':
    'prefix': 'control-c'
    'body': """
    #include "${1}.h"

    template<>
    InputParameters validParams<${1}>()
    {
      InputParameters params = validParams<Control>();
      return params;
    }

    ${1}::${1}(const InputParameters & parameters) :
        Control(parameters)
    {
    }

    void
    ${1}::execute()
    {
    }
    """
