# Template for Damper

'.source.c, .source.cpp':
  'MOOSE damper header':
    'prefix': 'damper-h'
    'body': """
    #pragma once

    #include "Damper.h"

    /**
     *
     */
    class ${1} : public Damper
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpDamping() override;
    };
    """

  'MOOSE damper implementation':
    'prefix': 'damper-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = Damper::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Damper(parameters)
    {
    }

    Real
    ${1}::computeQpDamping()
    {
    }
    """
