# Template for DGKernel

'.source.c, .source.cpp':
  'MOOSE DG kernel header':
    'prefix': 'dgkernel-h'
    'body': """
    #pragma once

    #include "DGKernel.h"

    /**
     *
     */
    class ${1} : public DGKernel
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual(Moose::DGResidualType type) override;
      virtual Real computeQpJacobian(Moose::DGJacobianType type) override;
    };
    """

  'MOOSE DG kernel implementation':
    'prefix': 'dgkernel-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = validParams<DGKernel>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : DGKernel(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
    }
    """
