# Template for DGKernel

'.source.c, .source.cpp':
  'MOOSE DG kernel header':
    'prefix': 'dgkernel-h'
    'body': """
    #ifndef ${1/(.)/\\U$1/}_H
    #define ${1/(.)/\\U$1/}_H

    #include "DGKernel.h"

    class ${1};

    template <>
    InputParameters
    validParams<${1}>();

    /**
     *
     */
    class ${1} : public DGKernel
    {
    public:
      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual(Moose::DGResidualType type) override;
      virtual Real computeQpJacobian(Moose::DGJacobianType type) override;
    };

    #endif // ${1/(.)/\\U$1/}_H
    """

  'MOOSE DG kernel implementation':
    'prefix': 'dgkernel-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    template <>
    InputParameters validParams<${1}>()
    {
      InputParameters params = validParams<DGKernel>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : DGKernel(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
    }
    """
