# Template for DiracKernel

'.source.c, .source.cpp':
  'MOOSE Dirac kernel header':
    'prefix': 'dirac-h'
    'body': """
    #ifndef ${1}_H
    #define ${1}_H

    #include "DiracKernel.h"

    class ${2};

    template<>
    InputParameters validParams<${2}>();

    /**
     *
     */
    class ${2} : public DiracKernel
    {
    public:
      ${2}(const InputParameters & parameters);

      virtual void addPoints();
      virtual Real computeQpResidual();
      virtual Real computeQpJacobian();
    };

    #endif // ${1}_H
    """


  'MOOSE Dirac kernel implementation':
    'prefix': 'dirac-c'
    'body': """
    #include "${1}.h"

    template<>
    InputParameters validParams<${1}>()
    {
      InputParameters params = validParams<DiracKernel>();
      return params;
    }

    ${1}::${1}(const InputParameters & parameters) : DiracKernel(parameters)
    {
    }

    void
    ${1}::addPoints()
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
    }
    """
