# Template for DiracKernel

'.source.c, .source.cpp':
  'MOOSE Dirac kernel header':
    'prefix': 'dirac-h'
    'body': """
    #pragma once

    #include "DiracKernel.h"

    /**
     *
     */
    class ${1} : public DiracKernel
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

      virtual void addPoints() override;
      virtual Real computeQpResidual() override;
      virtual Real computeQpJacobian() override;
    };
    """


  'MOOSE Dirac kernel implementation':
    'prefix': 'dirac-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = DiracKernel::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : DiracKernel(parameters)
    {
    }

    void
    ${1}::addPoints()
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
    }
    """
