# Template for InitialCondition

'.source.c, .source.cpp':
  'MOOSE initial condition header':
    'prefix': 'ic-h'
    'body': """
    #pragma once

    #include "InitialCondition.h"

    /**
     *
     */
    class ${1} : public InitialCondition
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

      virtual Real value(const Point & p) override;
    };
    """

  'MOOSE initial condition implementation':
    'prefix': 'ic-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = InitialCondition::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : InitialCondition(parameters)
    {
    }

    Real
    ${1}::value(const Point & p)
    {
    }
    """
