# Template for Indicator

'.source.c, .source.cpp':
  'MOOSE indicator header':
    'prefix': 'indicator-h'
    'body': """
    #pragma once

    #include "Indicator.h"

    class ${1};

    template <>
    InputParameters
    validParams<${1}>();

    /**
     *
     */
    class ${1} : public Indicator
    {
    public:
      ${1}(const InputParameters & parameters);

      virtual void computeIndicator() override;
    };
    """

  'MOOSE indicator implementation':
    'prefix': 'indicator-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    template <>
    InputParameters
    validParams<${1}>()
    {
      InputParameters params = validParams<Indicator>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Indicator(parameters)
    {
    }

    void
    ${1}::computeIndicator()
    {
    }
    """
