# Template for Kernel

'.source.c, .source.cpp':
  'MOOSE kernel header':
    'prefix': 'kernel-h'
    'body': """
    #pragma once

    #include "Kernel.h"

    /**
     *
     */
    class ${1} : public Kernel
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual() override;
      virtual Real computeQpJacobian() override;
    };
    """

  'MOOSE kernel implementation':
    'prefix': 'kernel-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = Kernel::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Kernel(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
      return 0;
    }
    """

  'MOOSE vectorkernel header':
    'prefix': 'vectorkernel-h'
    'body': """
    #pragma once

    #include "VectorKernel.h"

    class ${1};

    InputParameters
    ${1}::validParams();

    /**
     *
     */
    class ${1} : public VectorKernel
    {
    public:
      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual() override;
      virtual Real computeQpJacobian() override;
    };
    """

  'MOOSE vectorkernel implementation':
    'prefix': 'vectorkernel-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = VectorKernel::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : VectorKernel(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }

    Real
    ${1}::computeQpJacobian()
    {
      return 0;
    }
    """
