'.input.moose':
  'Parameter':
    'prefix': '='
    'body': '${1:name} => \'${2:value}\'$0'
  'MeshBlock':
    'prefix': 'mesh'
    'body': '[Mesh]\n  type = ${1:type}\n  $0\n[]'
  'GeneratedMeshBlock':
    'prefix': 'gen'
    'body': '[Mesh]\n  type = GeneratedMesh\n  dim = ${1:dim}\n  nx = ${2:size}\n  ny = ${3:size}\n  nz = 0\n  xmin = 0\n  xmax = ${4:size}\n  ymin = 0\n  ymax = ${5:size}\n  zmin = 0\n  zmax = 0$0\n[]'
  'Kernels':
    'prefix': 'kernels'
    'body': '[Kernels]\n  [./${1:name}]\n    type = ${2:type}\n  [../]\n[]$0'
