# Template for Marker

'.source.c, .source.cpp':
  'MOOSE marker header':
    'prefix': 'marker-h'
    'body': """
    #pragma once

    #include "Marker.h"

    /**
     *
     */
    class ${1} : public Marker
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual MarkerValue computeElementMarker() override;
    };
    """

  'MOOSE marker implementation':
    'prefix': 'marker-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = Marker::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Marker(parameters)
    {
    }

    Marker::MarkerValue
    ${1}::computeElementMarker()
    {
    }
    """
