# Template for Material

'.source.c, .source.cpp':
  'MOOSE material header':
    'prefix': 'material-h'
    'body': """
    #ifndef ${1/(.)/\\U$1/}_H
    #define ${1/(.)/\\U$1/}_H

    #include "Material.h"

    class ${1};

    template <>
    InputParameters
    validParams<${1}>();

    /**
     *
     */
    class ${1} : public Material
    {
    public:
      ${1}(const InputParameters & parameters);

    protected:
      virtual void computeQpProperties() override;
    };

    #endif //${1/(.)/\\U$1/}_H
    """

  'MOOSE material implementation':
    'prefix': 'material-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    template <>
    InputParameters
    validParams<${1}>()
    {
      InputParameters params = validParams<Material>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Material(parameters)
    {
    }

    void
    ${1}::computeQpProperties()
    {
    }
    """
