# Template for NodalKernel

'.source.c, .source.cpp':
  'MOOSE nodal kernel header':
    'prefix': 'nodalkernel-h'
    'body': """
    #pragma once

    #include "NodalKernel.h"

    /**
     *
     */
    class ${1} : public NodalKernel
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

    protected:
      virtual Real computeQpResidual() override;
    };
    """

  'MOOSE nodal kernel implementation':
    'prefix': 'nodalkernel-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = NodalKernel::validParams();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : NodalKernel(parameters)
    {
    }

    Real
    ${1}::computeQpResidual()
    {
    }
    """
