# Template for postprocessors

'.source.c, .source.cpp':
  'MOOSE postprocessor header':
    'prefix': 'pps-h'
    'body': """
    #ifndef ${1}_H
    #define ${1}_H

    #include "${3}.h"

    class ${2};

    template<>
    InputParameters validParams<${2}>();

    /**
     *
     */
    class ${2} : public ${3}
    {
    public:
      ${2}(const InputParameters & parameters);

      virtual void initialize() override;
      virtual void execute() override;
      virtual void finalize() override;
      virtual PostprocessorValue getValue() override;

      // only needed for ElementPostprocessors and NodalPostprocessors
      virtual void threadJoin(const UserObject & y) override;
    };

    #endif // ${1}_H
    """

  'MOOSE postprocessor implementation':
    'prefix': 'pps-c'
    'body': """
    #include "${1}.h"

    template<>
    InputParameters validParams<${1}>()
    {
      InputParameters params = validParams<${2}>();
      return params;
    }

    ${1}::${1}(const InputParameters & parameters) :
        ${2}(parameters)
    {
    }

    void
    ${1}::initialize()
    {
    }

    void
    ${1}::execute()
    {
    }

    void
    ${1}::finalize()
    {
    }

    PostprocessorValue
    ${1}::getValue()
    {
    }

    void
    ${1}::threadJoin(const UserObject & y)
    {
      const ${1} & pp = static_cast<const ${1} &>(y);
    }
    """
