# Template for TimeIntegrator

'.source.c, .source.cpp':
  'MOOSE time integrator header':
    'prefix': 'timeintegrator-h'
    'body': """
    #ifndef ${1}_H
    #define ${1}_H

    #include "TimeIntegrator.h"

    class ${2};

    template<>
    InputParameters validParams<${2}>();

    /**
     *
     */
    class ${2} : public TimeIntegrator
    {
    public:
      ${2}(const InputParameters & parameters);

      virtual int order() override;
      virtual void computeTimeDerivatives() override;
    };

    #endif //${1}_H
    """

  'MOOSE time integrator implementation':
    'prefix': 'timeintegrator-c'
    'body': """
    #include "${1}.h"

    template<>
    InputParameters validParams<${1}>()
    {
      InputParameters params = validParams<TimeIntegrator>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : TimeIntegrator(parameters)
    {
    }

    int
    ${1}::order()
    {
    }

    void
    ${1}::computeTimeDerivatives()
    {
    }
    """
