# Template for Transfer

'.source.c, .source.cpp':
  'MOOSE transfer header':
    'prefix': 'transfer-h'
    'body': """
    #pragma once

    #include "Transfer.h"

    /**
     *
     */
    class ${1} : public Transfer
    {
    public:
      static InputParameters validParams();

      ${1}(const InputParameters & parameters);

      virtual void execute() override;
    };
    """

  'MOOSE transfer implementation':
    'prefix': 'transfer-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${2:AppName}App", ${1});

    InputParameters
    ${1}::validParams()
    {
      InputParameters params = validParams<Transfer>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : Transfer(parameters)
    {
    }

    void
    ${1}::execute()
    {
    }
    """
