# Template for vector postprocessors

'.source.c, .source.cpp':
  'MOOSE vector postprocessor header':
    'prefix': 'vectorpps-h'
    'body': """
    #pragma once

    #include "${2:GeneralVectorPostprocessor}.h"

    class ${1};

    template <>
    InputParameters
    validParams<${1}>();

    /**
     *
     */
    class ${1} : public ${2:GeneralVectorPostprocessor}
    {
    public:
      ${1}(const InputParameters & parameters);

      virtual void initialize() override;
      virtual void execute() override;
      virtual void finalize() override;

      // only needed for ElementVectorPostprocessors and NodalVectorPostprocessors
      virtual void threadJoin(const UserObject & y) override;
    };
    """

  'MOOSE vector postprocessor implementation':
    'prefix': 'vectorpps-c'
    'body': """
    #include "${1}.h"

    registerMooseObject("${3:AppName}App", ${1});

    template <>
    InputParameters
    validParams<${1}>()
    {
      InputParameters params = validParams<${2:GeneralVectorPostprocessor}>();
      params.addClassDescription("");
      return params;
    }

    ${1}::${1}(const InputParameters & parameters)
      : ${2:GeneralVectorPostprocessor}(parameters)
    {
    }

    void
    ${1}::initialize()
    {
    }

    void
    ${1}::execute()
    {
    }

    void
    ${1}::finalize()
    {
    }

    void
    ${1}::threadJoin(const UserObject & y)
    {
      const ${1} & vpp = static_cast<const ${1} &>(y);
    }
    """
