'scopeName': 'source.moosecpp'
'name': 'MOOSE C++'
'injectionSelector': 'source.c - (comment | string), source.cpp - (comment | string)'
'patterns': [
  {
    'match': '\\b(Real|RealGradient)\\b'
    'name': 'storage.type.c'
  }
  {
    'match': ' [+\\-\\*/%] '
    'name': 'keyword.operator.moose'
  }
]
