@import 'syntax-variables.less';

atom-text-editor.editor .syntax--keyword.syntax--operator.syntax--moose {
  color: contrast(@syntax-background-color, white, black);
  font-weight: bold;
}

atom-text-editor.editor .syntax--moose.syntax--error {
  color: white;
  background-color: red;
  font-weight: bold;
}
